<div class="presentation">
    <div class="left">
        <img src="../../assets/svg/Avatar.svg" alt="Profile Picture " class="img-pres">
    </div>

    <div class="right">
        <div class="brief-presentation">
            <div class="hello-there">
                <p class="general-kenobi">Hello There!...</p>
                <h1>I'm <span>Adrian</span></h1>
            </div>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam neque facilis
                nesciunt suscipit. Illo suscipit laboriosam, deserunt, ducimus aliquid ut quam obcaecati beatae
                quasi, minima quas quaerat nam fugit ea?</p>
        </div>
        <nav class="social-networks">
            <a href="/resume" class="resume">Resumé</a>
        </nav>
    </div>
</div>